{% extends "base.html" %}

{% block content %}


<div class="center">
    <h2>
        {{ album.title }}
    </h2>
</div>
<div class="center">
    <a href="{% url 'show_album' pk=album.pk %}">(return to album)</a>
</div>
<div class="indent">
    <h5>Photos currently in album (click to remove):</h5>
</div>
<div class="edit-list in-album center wrap">
    {% for photo in album.photos.all %}
    <a data-albumid="{{album.pk}}" data-photoid="{{photo.pk}}" 
        class="p-toggler" href="#">
    <img class="photo m10" src="{{ photo.photo_thumbnail.url }}" />
</a>    {% endfor %}
</div>

<div>
{% if request.user == album.owner %}
    <div class="edit-album-panel">
        <div class="indent">
            <h5>Add or remove photos here:</h5>
        </div>
        <div class="edit-list not-in-album center wrap">
            {% for photo in photos%}
            {% if photo not in album.photos.all %}
            <a data-albumid="{{album.pk}}" data-photoid="{{photo.pk}}" 
                class="p-toggler" href="#">
                <img class="photo m10" src="{{ photo.photo_thumbnail.url }}" />
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script>

dragula([
    document.querySelector(".in-album"),
    document.querySelector(".not-in-album")
  ])
  .on('drop', (el, target, source, sibling) => {
    if (target === source) {
        console.log("Dropped in same box.")
      return null
    } 
    console.log("Dropped in different box.")
    const photoPk = el.dataset.photoid
    const albumPk = el.dataset.albumid
    fetch(`/album/${albumPk}/add-photo/${photoPk}`, {
            method: 'POST'
        })
        .then(res => res.json())
        .then(data => {
            if (data.inAlbum) {
                console.log(data.inAlbum)
            } else {
                console.log(data.inAlbum)
            }
        })
})
  


// // Adds clickability to photos in edit panel so they can be added/removed from 
// // album without page refresh
// const pTogglerList = document.querySelectorAll(".p-toggler")
// const inAlbumDiv = document.querySelector(".in-album")
// const notInAlbumDiv = document.querySelector(".not-in-album")

// for (let toggler of pTogglerList) {
//     toggler.addEventListener("click", (e) => {
//         e.preventDefault()
//         const albumPk = toggler.dataset.albumid
//         const photoPk = toggler.dataset.photoid
//         console.log(albumPk + "  " + photoPk)
//         fetch(`/album/${albumPk}/add-photo/${photoPk}`, {
//             method: 'POST'
//         })
//         .then(res => res.json())
//         .then(data => {
//             if (data.inAlbum) {
//                 console.log(data.inAlbum)
//                 inAlbumDiv.append(toggler)
//             } else {
//                 //toggler.classList.remove("darken")
//                 console.log(data.inAlbum)
//                 notInAlbumDiv.append(toggler)
//             }
//         })
//     })
// }

// // Shows the edit panel upon click.
// const editAlbumButton = document.querySelector(".edit-album-button")
// const editAlbumDiv = document.querySelector(".edit-album-panel")
// editAlbumButton.addEventListener("click", (e) => {
//     console.log("clicked.")
//     e.preventDefault()
//     editAlbumDiv.classList.remove("dn")
//     editAlbumButton.classList.add("dn")
// })
</script>
{% endblock %}