{% extends "base.html" %}

{% block content %}


<p>
    {{ album.title }}
</p>
<div class="photo-list">
    {% for photo in album.photos.all %}
    <a href="{% url 'show_photo' pk=photo.pk %}"><img class="photo" src="{{ photo.photo_thumbnail.url }}" /></a>
    {% endfor %}
</div>

<div>
{% if request.user == album.owner %}
    <div class="edit-album-panel">
        <h5>Add or remove photos here:</h5>
        <div class="photo-list">
            {% for photo in photos %}
            <a data-albumid="{{album.pk}}" data-photoid="{{photo.pk}}" 
                class="p-toggler {%if photo in album.photos.all%} darken {% endif %}" href="#">
                <img class="photo" src="{{ photo.photo_thumbnail.url }}" />
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}








<script>
// Adds clickability to photos in edit panel so they can be added/removed from 
// album without page refresh
const pTogglerList = document.querySelectorAll(".p-toggler")    
for (let toggler of pTogglerList) {
    toggler.addEventListener("click", (e) => {
        e.preventDefault()
        const albumPk = toggler.dataset.albumid
        const photoPk = toggler.dataset.photoid
        console.log(albumPk + "  " + photoPk)
        fetch(`/album/${albumPk}/add-photo/${photoPk}`, {
            method: 'POST'
        })
        .then(res => res.json())
        .then(data => {
            if (data.inAlbum) {
                toggler.classList.add("darken")
            } else {
                toggler.classList.remove("darken")
            }
        })
    })
}

// Shows the edit panel upon click.
const editAlbumButton = document.querySelector(".edit-album-button")
const editAlbumDiv = document.querySelector(".edit-album-panel")
editAlbumButton.addEventListener("click", (e) => {
    console.log("clicked.")
    e.preventDefault()
    editAlbumDiv.classList.remove("dn")
    editAlbumButton.classList.add("dn")
})
</script>
{% endblock %}