{% extends "base.html" %}

{% block content %}

{% if request.user.is_authenticated %}
<div class="center">
    <div class="nav-buttons">
        <a href="{% url 'add_photo' %}">Add a photo!</a>
        {% if user.is_authenticated %}
        <a href="{% url 'show_user_photos' pk=request.user.pk %}">See your photos</a>
        {% endif %}
        <a href="{% url 'list_albums' %}">See all albums</a>
        <a href=# class="shuffler">Shuffle photos</a>
    </div>
</div>
{% endif %}
<div class="photo-list">
{% for photo in photos %}
    <div >
        <a href="{% url 'show_photo' pk=photo.pk %}"><img class="photo" src="{{ photo.photo_medium.url }}" /></a>
    </div>
{% endfor %}
</div>


<script>
//This script allows for a button to shuffle all pictures in the list so as to allow the user
//to see the pictures in random order
const shuffler = document.querySelector(".shuffler")
const deck = document.querySelector(".photo-list")
shuffler.addEventListener("click", (e) => {
    e.preventDefault()
    console.log("Clicked Shuffler")
    for (let i = deck.children.length; i >= 0; i--) {
        deck.appendChild(deck.children[Math.random() * i | 0])
    }
})
</script>
{% endblock %}